Repository Majeggstics/majeggstics.com: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --ignore-unknown --write, eslint --fix, yarn typecheck && mocha src/**/*.spec.ts

fix: Added corepack
  .github/workflows/test.yaml
Due: none

fix: Moved enabling corepack to after node installation
  .github/workflows/test.yaml
Due: none

fix: Moved eslint to dev dependency, yarn.lock changed?
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix: Moved prettier to dev as well
  package.json
Due: prettier --ignore-unknown --write

fix: Removed cache: yarn line?
  .github/workflows/test.yaml
Due: none

fix: Updated eslint-config-next
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write

fix: Updated yarn
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

Feat/Fix: Added TE as bonus input; Fixed Monocle Bug (#44)
  .github/workflows/test.yaml
  .gitignore
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  Taskfile
  e2e/pages/contract-boost-calculator.spec.ts
  eslint.config.mjs
  package.json
  src/components/Boosts.tsx
  src/components/Icon.tsx
  src/components/calculator.tsx
  src/components/contract-boost-calculator.tsx
  src/components/initiator-tools.ts
  src/components/initiator-tools/min-fails-generator.tsx
  src/components/initiator-tools/notin-fails-generator.tsx
  src/components/initiator-tools/notin-message-generator.tsx
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix: Added test to check rounding
  e2e/pages/contract-boost-calculator.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Simplified hr/min/sec definitions, added check for 60 second edge cases
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: Replaced token icons with new wonky token
  public/images/B_token-OLD.png
  public/images/B_token.png
  public/images/gameResources/contract/B_token-OLD.png
  public/images/gameResources/contract/B_token.png
Due: none

Revert "feat: Replaced token icons with new wonky token"
  public/images/B_token-OLD.png
  public/images/B_token.png
  public/images/gameResources/contract/B_token-OLD.png
  public/images/gameResources/contract/B_token.png
Due: none

feat: Update with new token icons, and small description of differences
  public/images/gameResources/contract/B_token-OLD.png
  public/images/gameResources/contract/B_token.png
  src/components/Icons.tsx
  src/components/guide.mdx
Due: prettier --ignore-unknown --write, eslint --fix

fix: Fixed edge case rounding errors (#45)
  e2e/pages/contract-boost-calculator.spec.ts
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: Updated guide with short icon explaination.
  src/components/guide.mdx
Due: none

feat: Added plug into contract boost calculator
  src/components/contract-boost-calculator.tsx
  src/pages/index.astro
Due: prettier --ignore-unknown --write, eslint --fix

fix: Fixed regex so usernames with special characters are handled
  src/components/initiator-tools.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix/feat: Added test to test for weird looking usernames
  e2e/pages/initiator-tools/notin-message-generator.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Updated regex again
  src/components/initiator-tools.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Updated regex for spaces, updated test to match
  e2e/pages/initiator-tools/notin-message-generator.spec.ts
  src/components/initiator-tools.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Added test to check for rounding errors with hours, fixed hours calculation
  e2e/pages/contract-boost-calculator.spec.ts
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: Fixed formatting
  e2e/pages/contract-boost-calculator.spec.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: update token icon and fiddle with copy (#46)
  public/images/gameResources/contract/B_token-OLD.png
  public/images/gameResources/contract/B_token.png
  src/components/Icons.tsx
  src/components/contract-boost-calculator.tsx
  src/components/guide.mdx
  src/pages/index.astro
Due: prettier --ignore-unknown --write, eslint --fix

fix: Fixed regex and added single character ign to tests
  e2e/pages/initiator-tools/notin-message-generator.spec.ts
  src/components/initiator-tools.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Last (hopefully) fix to regex
  src/components/initiator-tools.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: detect users with close parens in their ign (#47)
  e2e/pages/initiator-tools/notin-message-generator.spec.ts
  src/components/initiator-tools.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: Fixed hour rounding/calculation (#48)
  e2e/pages/contract-boost-calculator.spec.ts
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: Push changes from main (beta) to stable (prod) (#50)
  .github/workflows/test.yaml
  .gitignore
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  Taskfile
  e2e/pages/contract-boost-calculator.spec.ts
  e2e/pages/initiator-tools/notin-message-generator.spec.ts
  eslint.config.mjs
  package.json
  public/images/gameResources/contract/B_token-OLD.png
  public/images/gameResources/contract/B_token.png
  src/components/Boosts.tsx
  src/components/Icon.tsx
  src/components/Icons.tsx
  src/components/calculator.tsx
  src/components/contract-boost-calculator.tsx
  src/components/guide.mdx
  src/components/initiator-tools.ts
  src/components/initiator-tools/min-fails-generator.tsx
  src/components/initiator-tools/notin-fails-generator.tsx
  src/components/initiator-tools/notin-message-generator.tsx
  src/pages/index.astro
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

feat: add some boosts that might be useful at high TE
  src/components/Boosts.tsx
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: Update max Truth Egg count from 430 to 490
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: fiddle with available combos
  .node-version
  README.md
  Taskfile
  mise.toml
  src/components/Boosts.tsx
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: parse colleggs the new way
  .github/workflows/deploy-beta.yaml
  .github/workflows/playwright.yml
  .github/workflows/test.yaml
  README.md
  Taskfile
  contract.proto
  mise.toml
  package.json
  src/components/contract-boost-calculator.tsx
  src/lib/colleggtible_contracts.json
  src/pages/contract-boost-calculator.astro
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

chore: overhaul lints again
  .prettierignore
  .prettierrc.mjs
  Taskfile
  e2e/pages/initiator-tools/notin-message-generator.spec.ts
  eslint.config.mjs
  mise.toml
  next-env.d.ts
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  playwright.config.ts
  src/components/Boosts.tsx
  src/components/LocalContractDrop.astro
  src/components/calculator.tsx
  src/components/contract-boost-calculator.tsx
  src/components/guide.mdx
  src/components/initiator-tools/min-fails-generator.tsx
  src/layouts/Layout.astro
  src/lib/colleggtible_contracts.json
  src/lib/colleggtible_contracts.ts
  src/lib/utils.ts
  src/pages/contract-boost-calculator.astro
  tsconfig.eslint.json
  yarn.lock
Due: prettier --ignore-unknown --write, eslint --fix

fix: update tests and use the right epic research tag
  README.md
  Taskfile
  e2e/pages/contract-boost-calculator.spec.ts
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: Update API URL to tiller's endpoint
  .github/workflows/deploy-beta.yaml
Due: none

fix: Updated some spellings and fixed undefined error with coop contract identifier
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: check that colleggtibleMaxFarmSizeReachedList exists _and is populated_
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: use levels for both EIH and IHC
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: hide bonus when EIH is 20, not 100
  src/components/contract-boost-calculator.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --ignore-unknown --write: any of: **/*.{mjs,js,cjs,ts,tsx,astro,json}
  eslint --fix: any of: **/*.{mjs,js,cjs,ts,tsx,astro}
  yarn typecheck && mocha src/**/*.spec.ts: any of: src/**.ts
